table{
    border-collapse: collapse;
    border:none;
    font-family: sans-serif;
    letter-spacing: 1pix;
    width: 50%;
    margin: auto;

}

thead{
    background-color: rgb(82, 121, 88);

}

th,td{
    border: 1px solid;
    padding: 8px 10px;
    border: none;

}

tbody{
    background-color: rgb(255, 255, 255);
    text-align: center;

}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foto{
    width: 100px;
}

.quantity{
    text-align: center;
    width: 20px;
}